<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
    <title>Hello There I Am A Web Dev Geek 😊</title>
</head>

<body>
    {{>navbar}}

    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="./img/man-in-black-jacket-preview.png" alt="" class="img-fluid" title="Ayush" style="width: 40rem;">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hey!! My Name is Ayush Singh</p>
                        <h1>I am a <span class="text_clr"> Web Dev Geek </span> And Also a CS Student</h1>
                        <a href="/weather"><button>About Me</button></a>
                    </div>                  
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    {{>footer}}

</body>
</html>
