@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&family=Roboto:wght@500&family=Rubik+Dirt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
    font-family: 'Bebas Neue', cursive;
    font-family: 'Piazzolla', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Dirt', cursive;
 */
}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
    --font1: 'Bebas Neue', cursive;
    --font2: 'Piazzolla', serif;
    --font3: 'Roboto', sans-serif;
    --font4: 'Rubik Dirt', cursive;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0;
}

.main_menu {
    background-color: var(--main-bg);
    z-index: 99;
}

.navbar {
    background-color: var(--main-bg);
    color: #fff;
    padding: 2rem 0;
}

.nav-item a{
    font-weight: bolder;
    color: white;
}

.nav-item a:hover{
    color: #009ad8;
}

.navbar a {
    color: #fff;
    font-size: 1.8rem;
}

.navbar li {
    margin-left: 2rem;
}

.navbar li:hover {
    color: var(--main-color);
}

.logo-name {
    font-weight: 900;
}

.logo-name:hover {
    color: #AF40FF;
}

.fa-snowflake {
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);
}

.hamburgur {
    /* background-color: gray; */
    position: absolute;
    top: 12px;
    right: -13px;
}

.navbar-toggler:focus{
    outline: none;
    border: none;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main_header_left {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p {
    font-size: 2rem;
}

.main_header_left h1 {
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.main_header_left .text_clr {
    color: var(--main-color);
}

.text_clr{
    font-weight: bold;
}
/*
.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    cursor: pointer;
}

.main_header_left button:hover {
    box-shadow: 0 8px 6px -6px #0097e6;
}*/

.main_header_left button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}

.main_header_left button:active,
.main_header_left button:hover {
    outline: 0;
}


.main_header_left button:hover {
    box-shadow: 0 8px 6px -6px #0097e6;
}

.main_header_right {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.main_header_right figure img {
    /* filter: drop-shadow(0 0.5rem 1rem rgba(0,0,0,0.3)); */
    filter: drop-shadow(0 0.6rem 1rem #0097e6);
}

/* temp input fields */
.temp-form {
    width: 60%;
    position: relative;
    margin: 5rem auto;
}

.temp-form input[type="text"] {
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
}

::placeholder {
    color: #bfc1c8;
}

.temp-form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
}

.temp-form input[type="submit"]:hover {
    color: #0097e6;
    background-color: #fff;
}

.temp-Info {
    width: 40rem;
    margin: auto;
    margin-top: -3rem;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    padding: 2rem;
    font-family: var(--font3);
}

.top-layer {
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.top-layer p {
    color: #fff;
    font-weight: 300;
    padding: 1rem;
    font-size: 1.4rem;
}

.main-Layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.main-Layer #City_name {
    padding: 2rem 0;
    color: #bfc1c8;
    font-size: 2rem;
    font-weight: 2rem;
}

.main-Layer .middle-layer {
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.main-Layer .middle-layer p,
.main-Layer .middle-layer .fa {
    font-size: 7rem;
    font-weight: 900;
}

.fa {
    color: #009ad8;
}

sup {
    font-size: 5rem;
    margin-top: -2rem;
}

.data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
}

/* error page style */
.err-img img {
    width: 60rem;
    height: 40rem;
    border-radius: 1rem;
    filter: drop-shadow(0 0.6rem 1rem #0097e6);
}

footer {
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
    z-index: 99;
}

footer p {
    text-align: center;
    color: #fff;
    line-height: 10rem;
    font-size: 1.4rem;
}




/* responsive code */

@media(max-width : 768px) {
    .main_header_left {
        display: flex;
        height: auto;
        margin: 5rem 0;
        align-items: center;
        justify-content: center;
    }

    .main_header_left h1 {
        font-size: 5rem;
        text-align: center;
    }

    .main_header_right {
        height: auto;
        margin-top: 3rem;
    }

    .temp-form {
        width: auto;
    }

    .temp-Info {
        width: auto;
    }

    .main-Layer .middle-layer p,
    .main-Layer .middle-layer .fa {
        font-size: 5rem;
        font-weight: 900;
    }
}
